<table>
    <tr>
        <th>{{tblTitles.estado}}</th>
        <th>{{tblTitles.cantidad}}</th>
    </tr>
    <tr>
        <td>{{tblTitles.reaperturas}}</td>
        <td>{{tblDataSet.reaperturas}}</td>
    </tr>
    <tr>
        <td>{{tblTitles.priorizados}}</td>
        <td>{{tblDataSet.priorizados}}</td>
    </tr>
    <tr>
        <td>{{tblTitles.repetitivos}}</td>
        <td>{{tblDataSet.repetitivos}}</td>
    </tr>
    <tr>
        <td>{{tblTitles.totalBandeja}}</td>
        <td>{{tblDataSet.totalBandeja}}</td>
    </tr>
    <tr>
        <td>{{tblTitles.totalPendientesN3}}</td>
        <td>{{tblDataSet.totalPendientesN3}}</td>
    </tr>
    <tr>
        <th>{{tblTitles.totalPendientes}}</th>
        <th>{{tblDataSet.totalPendientes}}</th>
    </tr>
</table>