table {
    border: 1px solid black;
    border-collapse: collapse;
    border-spacing: 4px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 5px;
    margin-right: 5px;
}

td {
    border: 1px solid black;
    border-collapse: collapse;
    border-spacing: 4px;
    text-align: center;
    font-style: italic;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 12px;
}

th {
    color: white;
    background: #92d050;
    border: 1px solid black;
    border-collapse: collapse;
    border-spacing: 4px;
    font-style: italic;
    font-weight: lighter;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 12px;
}


