<mat-card>
  <mat-card-header>
    <h2>{{title}}</h2>
  </mat-card-header>
  <mat-card-content>
    <form>
      <mat-form-field>
        <input matInput placeholder = {{inp_placeholder}} #inputBox/>
      </mat-form-field>
      <button style="margin:5px" mat-raised-button type="button" color='primary' (click)='onGetTaskStatus(inputBox.value)' >{{btn_label}}</button>
    </form>
  </mat-card-content>
</mat-card>
<mat-card *ngIf= "!(response=='')">
  <mat-card-content>
    <p>{{response}}</p>
  </mat-card-content>
</mat-card>
