<div class= "page404Div" style="background-image: url('assets/images/everisFondo.jpg')">
    <div class="messageDiv">
        <h2>{{message}}</h2>
    </div>
    <img class="img404NotFound" src={{img404NotFound}}>
</div>

