.page404Div{
    width: 100%;
    height: 90%;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: white;
}

.img404Div{
    position: absolute;
}

.img404NotFound {
    width: 49%;
    position: absolute;
    left: 50%;
    bottom:10%;
}

.messageDiv{
    margin: 80;
}

h2{
    margin: 0;
    padding-top: 3%;
    padding-left: 5%;
    font-style: italic;
    color: red
}
