.backGroundImgDiv{
    width: 100%;
    height: 90%;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: white;
}

h1{
    margin: 0;
    padding-top: 10%;
    padding-left: 10%;
    font-size: 70px;
}
