<mat-sidenav-container class="navview-container">
  <mat-sidenav mode="side" opened>
    <ul>
      <button mat-button color="primary" (click)= "onClickEstadoTask()" >{{lbl_taskStatus}} </button>
      <mat-divider></mat-divider>
      <button mat-button color="primary" (click)= "onClickCrarJiraFromAsiJira()" >{{lbl_agregarJirafromAsiJira}} </button>
      <mat-divider></mat-divider>
      <button mat-button color="primary" [matMenuTriggerFor]="backlog">{{lbl_menuBacklog.menu}}</button>
      <mat-menu #backlog="matMenu">
        <button mat-menu-item  (click)= "onClickBacklogInformeDiario()" >{{lbl_menuBacklog.informeDiario}}</button>
        <!-- <button mat-menu-item>{{lbl_menuBacklog.informeMensual}}</button> -->
      </mat-menu>
<!--
  //TAREAS PARA GENERAR
  --actualizacion de clave usuario Jira Root
  --formulario automatizacion gestion de despliegue de versiones
    |_--listado de despliegues por modulo 
  --crear jiras a partir de NOC
  --informe backlog mensual

-->
    </ul>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
