table.mat-table, td.mat-cell, tr.mat-row {
    border: 1px solid black;
    border-collapse: collapse;
    border-spacing: 4px;
    text-align: justify;
    padding-left: 5px;
    padding-right: 5px;
    height: 25px
}

th.mat-header-cell, tr.mat-header-row {
    color: white;
    background: #92d050;
    border: 1px solid black;
    border-collapse: collapse;
    border-spacing: 4px;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    height: 40px
}


