<div>
    <table  class="mat-elevation-z8">
        <tr>
            <th>{{asiJiraProcessHeaders.jiraID}}</th>
            <th>{{asiJiraProcessHeaders.asiJiraID}}</th>
            <th>{{asiJiraProcessHeaders.create}}</th>
            <th>{{asiJiraProcessHeaders.modifComment}}</th>
            <th>{{asiJiraProcessHeaders.modifStatus}}</th>
            <th>{{asiJiraProcessHeaders.modifComponent}}</th>
        </tr>
        <tr>
            <td>{{asiJiraProcess.jiraID}}</td>
            <td>{{asiJiraProcess.asiJiraID}}</td>
            <td>{{asiJiraProcess.create}}</td>
            <td>{{asiJiraProcess.modifComment}}</td>
            <td>{{asiJiraProcess.modifStatus}}</td>
            <td>{{asiJiraProcess.modifComponent}}</td>
        </tr>
    </table>
</div>
