table{
    width: 100%;
}

table, td {
    border: 1px solid black;
    border-collapse: collapse;
    border-spacing: 4px;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    height: 25px
}

th{
    color: black;
    background: greenyellow;
    border: 1px solid black;
    border-collapse: collapse;
    border-spacing: 4px;
    font-weight: bold;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    height: 40px
}
