<mat-card>
  <mat-card-header>
    <h2>{{title}}</h2>
  </mat-card-header>
  <mat-card-header>
    <h4>{{taskIdMessage + taskId}}</h4>
  </mat-card-header>
</mat-card>
<mat-card>
  <mat-card-content *ngIf= "showLoadingBar">
    <app-loading-bar [message] = "loadingMessage" ></app-loading-bar>
  </mat-card-content>
  <div *ngIf= "!showLoadingBar">
      <div *ngIf= "errorErrorMessageFlag">
        <h4 class='errorMessage'> {{errorMessage}}</h4>
      </div>
      <div *ngIf= "!errorErrorMessageFlag">
        <mat-card-content>
          <app-graph-grid-layout [barColors] = 'barColors' [backlogData] = 'backlogData'></app-graph-grid-layout>
        </mat-card-content>
        <mat-card-header class = 'priorizadosSubtitle'>
          <div class='priorizadosSubtitleblack'> {{priorizadosSubtitle.part1}} </div>
          <div class='priorizadosSubtitlered'>{{priorizadosSubtitle.part2}}</div>
          <div class='priorizadosSubtitleblack'> {{priorizadosSubtitle.part3}} </div>
        </mat-card-header>
        <mat-card-content>
          <app-listado-priorizados [backlogData] = "backlogData" ></app-listado-priorizados>
        </mat-card-content>
      </div>
  </div>
</mat-card> 