.priorizadosSubtitleblack{
    font-style: italic;
    font-weight: bold;
    color: black;
}

.priorizadosSubtitlered{
    font-style: italic;
    font-weight: bold;
    color:red;
    margin-left: 4px;
    margin-right: 4px;
}

.priorizadosSubtitle{
    margin-top: 30px;
    margin-bottom: 30px;
};

h4.errorMessage{
    font-style: italic;
    font-weight: bold;
    color: red;
}