.graphRenderUpperContainerBkg{
    border-color: black;
    border: 1px solid black;
    border-collapse: collapse;
}

.graphRenderUpperContainer{
    fill-opacity: 9;
    background-color: white;
}

.graphRenderLowerContainer{
    fill-opacity: 9;
    background-color: white;

}

td{
    border-color: black;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

th{
    border-color: black;
    border: 1px solid black;
    border-collapse: collapse;
    color: white;
    background: #92d050;
    text-align: center;
    font-weight: lighter;
    padding-left: 5px;
    padding-right: 5px;
}


.graphRenderUpperTable{
    width: 100%;
}

.graphRenderLowerTable{
    width: 100%;
}
