<div class='graphRenderUpperContainerBkg' class="mat-elevation-z8">
    <div class='graphRenderUpperContainer'>
        <table class= 'graphRenderUpperTable'>
            <tr>
                <th class='graphRenderBoxHeaderBacklogPriorizado'>
                    {{lbl_BacklogPriorizado}}
                </th>
                <th class='graphRenderBoxHeaderCreadasVsResueltas'>
                    {{lbl_CreadasVsResueltas}}
                </th>
                <th class='graphRenderBoxHeaderPriorizacion'>
                    {{lbl_Priorizacion}}
                </th>
                <th class='graphRenderBoxHeaderReabiertos'>
                    {{lbl_Reabiertos}}
                </th>
            </tr>
            <tr>
                <td class='graphRenderBoxDataBacklogPriorizado'>
                    <app-backlog-priorizado [barColors] = 'barColors' [backlogData] = 'backlogData'></app-backlog-priorizado>
                </td>
                <td class='graphRenderBoxDataCreadasVsResueltas'>
                    <app-creadas-vs-resueltas [barColors] = 'barColors' [backlogData] = 'backlogData'></app-creadas-vs-resueltas>
                </td>
                <td class='graphRenderBoxDataPriorizacion'>
                    <app-priorizacion [barColors] = 'barColors' [backlogData] = 'backlogData'></app-priorizacion>
                </td>
                <td class='graphRenderBoxDataReabiertos'>
                    <app-reabiertos [barColors] = 'barColors' [backlogData] = 'backlogData'></app-reabiertos>
                </td>
            </tr>
        </table>
    </div>
    <div class='graphRenderLowerContainer'>
        <table class= 'graphRenderLowerTable'>
            <tr>
                <th class='graphRenderBoxHeaderDistribucion'>
                    {{lbl_Distribucion}}
                </th>
                <th class='graphRenderBoxHeaderResumen'>
                    {{lbl_Resumen}}
                </th>
            </tr>
            <tr>
                <td class='graphRenderBoxDataDistribucion'>
                    <app-distribucion [barColors] = 'barColors' [backlogData] = 'backlogData'></app-distribucion>
                </td>
                <td class='graphRenderBoxDataResumen'>
                    <app-resumen [backlogData] = 'backlogData'></app-resumen>
                </td>
            </tr>
        </table>
    </div>
</div>